<div class="content">
    <h1>Welcome to CSE Motors</h1>
    <!-- <%- messages() %> -->
    <div class="text">
        <p>DMC Delorean</p>
        <p>3 Cup hoder</p>
        <p>Fuzzy dicel</p>
        <button>Own today</button>
    </div>
</div>

<section>
    <div>
        <h2>Delorean upgrades </h2>
            <div class="upgrades">
                <div class="part">
                    <img src="/images/upgrades/flux-cap.png" alt="flux Capacitor">
                    <a href="#">Flux Capacitor</a>
                </div>

                <div class="part">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <a href="#">Flame Decals</a>
                </div>

                <div class="part">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
                    <a href="#">Bumper Stickers</a>
                </div>

                <div class="part">
                    <img src="/images/upgrades/hub-cap.jpg" alt="bumper_sticker">
                    <a href="#">Hub Caps</a>
                </div>

            </div>

    </div>


    <div class="reviews">
        <div class="rev">
            <h3>DMC Delorean Reviews</h3>
            <ul>
                <li>"So fast it's almost like time travelling in time" (4/5)</li>
                <li>"Coolest ride on the road" (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristc ride of our day" (4.5/5)</li>
                <li>"80's livin and i love it!" (5/5)</li>
            </ul>
        </div>

    </div>
</section>